.card {
	box-shadow: 0 4px 8px 0 #b8b4b4;
	transition: 0.3s;
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
		  .small{

			height: 1000px;
		  }	
	
	
	 }

	 @media (max-width: 575.98px) { 
		
		.small{
			height: 1000px;
		}

	  }

	   