<div class="container-fluid d-none d-md-block">
    <nav class="row p-0 navbar navbar-expand-lg navbar-dark" style="background-color: #0790cf;">
       <div class="col-xl-1  text-center"><p style="font-size: 13px; color: white;">   
      </p></div>
      <div class="col-xl-3  text-center mt-2"><p style="font-size: 13px; color: white; ">CIN No:- U72200MH2017PTC291996   
      </p></div>
      <div class="col-xl-2 text-center mt-2"><p style="font-size: 13px; color:white;"> ISO 9001:2015 Certificate 
      </p></div>
      <div class="col-xl-6 text-center mt-2"><p style="font-size: 13px; color: white;">
        <i class="fa fa-phone mr-1 mt-2" aria-hidden="true"></i>+91 7040010693 
        <i class="fa fa-envelope-o ml-2 mt-2 mr-1" aria-hidden="true"></i>hr@wabitsolution.com, info@wabitsolution.com 
        <i class="fa fa-clock-o ml-4 mr-1 mt-2" aria-hidden="true"></i>Mon - Sat 9:30 to 6:30
      </p></div>
    </nav>
    </div>